<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: head"></head>
<body>
<div id="wrapper">

    <nav th:replace="fragments/main :: navbar"></nav>

    <div id="page-wrapper" class="custom-wrapper">
        <div class="row">
            <div class="col-lg-12 custom-container">
                <div class="panel panel-default">
                    <div th:replace="fragments/main :: breadcrum(#{role.breadcrum.label})" />
                    <div class="panel-body">
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <div id="create-role" class="content scaffold-create" role="main">
	                                <div class="page-header">
	                                    <h1 th:text="#{default.update.label}">update</h1>
	                                </div>
	                                <br />
	                                                    
			                        <form th:action="@{/role/update}" method="POST" th:object="${role}" autocomplete="off">
										<fieldset th:replace="fragments/role :: fields(${false})" />
			                             <div class="row" id="myRow">
											<fieldset class="buttons">
												<div class="row">
													<div class="col-sm-1 col-sm-offset-5">
														<button class="save btn btn-primary" type="submit" th:inline="text" >
															[[#{default.update.label}]]
															<i class="fa fa-refresh"></i>
														</button>
													</div>
												</div>
											</fieldset>
			                             </div>
			                        </form>
	                    		</div>
	                    	</div>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/main :: footer"></footer>
</body>
</html>