/.settings
.gradle/*
*.class
!/target-eclipse
/target-eclipse/*
!/logs
/logs/*
/.project
/.classpath
/.idea
/out/
/scripts/_Events.groovy
/storage
/web-app/storage
/target/
/build/
*.iml
*target/
*build/
*/.classpath
*/.project
*/.settings/
*/.gradle/*
*/bin/
.metadata
.recommenders
.checkstyle
classes/**
.gradle/
classes/
*.ipr
*.iws
*/out/
.rdb
