<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: head"></head>
<body>
<div class="custom-wrapper">
    <div class="login-form well">
        <div class="content">
            <div class="row" style="text-align: center">
                <div class="col-md-4 col-md-offset-4">

                    <div th:replace="fragments/main :: messages"></div>

                    <h3 th:text="#{resetPassword.label}">Reset password</h3>
                    <br/>
                    <form id="credentialsExpiredForm" th:action="@{/forgotPassword/credentialsExpired}" method="post" th:object="${expiredPassword}" autocomplete="off">
                        <fieldset>
                            <div class="form-group">
                                <label th:text="#{user.password.label}">Password</label>
                            </div>
                            <div class="clearfix">
                                <input type="password" class="form-control" th:field="*{password}" />
                            </div>
                            <br/>
                            <div class="form-group">
                                <label th:text="#{passwordChange.newPassword.label}">New password</label>
                            </div>
                            <div class="clearfix">
                                <input type="password" class="form-control" th:field="*{newPassword}" />
                            </div>
                            <br/>
                            <div class="form-group">
                                <label th:text="#{user.repassword.label}">Confirm password</label>
                            </div>
                            <div class="clearfix">
                                <input type="password" class="form-control" th:field="*{confirmPassword}" />
                            </div>
                            <br/>
                            <div class="clearfix">
                                <div th:replace="fragments/main :: recaptcha"></div>
                            </div>
                            <br/>
                            <input id="btnSubmit" type="submit" class="btn btn-primary" th:value="#{passwordChange.change.label}" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/main :: recaptcha-script('forgotPasswordForm','btnSubmit')"></div>
<footer th:replace="fragments/main :: footer"></footer>
</body>
</html>