<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: head"></head>
<body>
<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
<div class="custom-wrapper">
    <div class="login-form well">
        <div class="content">
            <div class="row" style="text-align: center">
                <div class="col-md-4 col-md-offset-4">
                    <h3 th:text="#{default.forgot.label}">Forgot password?</h3>
                    <br/>
                    <div th:replace="fragments/main :: messages"></div>
                    <form th:action="@{/forgotPassword/sendMailConfirmation}" method="post" th:object="${forgotPasswordDTO}" autocomplete="off">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" type="text" th:field="*{username}" th:placeholder="#{user.username.label}" />
                            </div>
                            <div class="clearfix">
                                <input class="form-control" type="email" th:field="*{email}" th:placeholder="#{user.email.label}" />
                            </div>
                            <div class="clearfix">
                                <br/>
                                <div class="g-recaptcha" th:attr="data-sitekey=${@environment.getProperty('recaptcha.site-key')}"></div>
                            </div>
                            <br/>
                            <input class="btn btn-primary" type="submit" th:value="#{default.send.label}" />
                            <a class="btn btn-primary" type="button" th:href="@{${@environment.getProperty('qremergencias.login.loginPage')}}" th:text="#{default.cancel.label}"></a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/main :: footer"></footer>
</body>
</html>