<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: head"></head>
<body>
<div class="container" id="container">
    <div class="row clearfix gradient-header">
        <div class="col-md-8 column header-left">
            <div class="col-md-4 col-xs-4 column logo-container">
                <div class="page-header">
                    <img th:src="@{/images/mail/logo-footer.png}" alt="Logo" id="logo"/>
                </div>
            </div>
        </div>
    </div>

    <div class= "container-form row clearfix gradient-dictionary-row">
        <div class= "col-md-8 column dictionary-box">
            <div class="row clearfix">
                <div class="col-md-12 column dictionary-row">
                    <p class="text-center text-intermediate text-italic text-green text-dictionary">
                        &iexcl;Tu contrase&ntilde;a ha sido restablecida exit&oacute;samente!
                    </p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4 column dictionary-row">
                    <a class="btn btn-success buttons btn-default btn-green text-intermediate" style="text-decoration:none;" th:href="${siteUrl}"><i>Volver al sitio</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/main :: footer"></footer>
</body>
</html>