<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main :: head"></head>
<body>
<div id="wrapper">

    <nav th:replace="fragments/main :: navbar"></nav>

    <div id="page-wrapper" class="custom-wrapper">
        <div class="row">
            <div class="col-lg-12 custom-container">
                <div class="panel panel-default">

                    <div th:replace="fragments/main :: breadcrum(#{user.breadcrum.label})"></div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="show-user" class="content scaffold-show" role="main">
                                    <div class="page-header">
                                        <h1 th:text="#{user.show.label}">Show</h1>
                                        <div class="row" id="myRow">
                                            <label th:inline="text" class="control-label col-sm-3 col-sm-offset-3">
                                                [[#{user.username.label}]]
                                            </label>
                                            <span th:text="${user.username}" class="property-value col-sm-3" aria-labelledby="username-label"></span>
                                        </div>
                                        <div class="row" id="myRow">
                                            <label th:inline="text" class="control-label col-sm-3 col-sm-offset-3">
                                                [[#{user.email.label}]]
                                            </label>
								                            <span th:text="${user.email}" class="property-value col-sm-3" aria-labelledby="email-label"></span>
                                        </div>
                                        <div class="row" id="myRow">
                                            <label th:inline="text" class="control-label col-sm-3 col-sm-offset-3">
                                                [[#{user.accountNonLocked.label}]]
                                            </label>
                                            <div class="col-sm-3">
                                                <div th:class="${user.accountNonLocked}? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></div>
                                            </div>
                                        </div>
                                        <div class="row" id="myRow">
                                            <label th:inline="text" class="control-label col-sm-3 col-sm-offset-3">
                                                [[#{user.credentialsNonExpired.label}]]
                                            </label>
                                            <div class="col-sm-3">
                                                <div th:class="${user.credentialsNonExpired}? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></div>
                                            </div>
                                        </div>
                                        <div class="row" id="myRow">
                                            <label th:inline="text" class="control-label col-sm-3 col-sm-offset-3">
                                                [[#{user.enabled.label}]]
                                            </label>
                                            <div class="col-sm-3">
                                                <div th:class="${user.enabled}? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></div>
                                            </div>
                                        </div>
                                        <div class="row" id="myRow">
                                            <label th:inline="text" class="control-label col-sm-3 col-sm-offset-3">
                                                [[#{user.roles.label}]]
                                            </label>
                                            <div class="col-sm-3">
                                                <label th:inline="text">[[${#strings.listJoin(user.roles, ',')}]]</label>
                                            </div>
                                        </div>

                                        <br/>
                                        <br/>

                                        <form th:if="${#authentication.name != user.username}" th:action="@{/user/delete(id=${user.id})}" th:method="delete" autocomplete="off" >
                                            <fieldset class="buttons">
                                                <div class="row">
                                                    <div class="col-sm-1 col-sm-offset-4">
                                                        <a th:inline="text" th:href="@{/user/edit(id=${user.id})}" class="btn btn-warning">
                                                            [[#{default.edit.label}]]
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button th:inline="text" class="btn btn-danger" type="submit">
                                                            [[#{default.delete.label}]]
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/main :: footer"></footer>
</body>
</html>
